h1{
  color: LightCoral;
  text-align: center;
  background-color: lightGrey;

}

h2{
  color: DarkSlateGray;
}

h3{
  color: IndianRed;
  
}

h4{
  color: GoldenRod;

}

h5{
  color: LightSeaGreen;
}
